html,
body,
h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

body {
    background:
            -moz-radial-gradient(#343434 6%, transparent 7%),
            -moz-radial-gradient(#343434 6%, transparent 7%),
            black;
    background:
            -webkit-radial-gradient(#343434 6%, transparent 7%),
            -webkit-radial-gradient(#343434 6%, transparent 7%),
            black;
    background-position: 0 0, 8px 8px;

    -webkit-background-size:16px 16px;
    -moz-background-size:16px 16px;
    background-size:16px 16px;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

header.personal-info {
    width: 100%;
    height: 672px;
    display: grid;
    grid-template-columns: 552px 888px;
    grid-template-areas: "a b" "a c";
    background: #082841;
}

.photo-frame.personal-photo {
    width: 552px;
    height: 672px;
    background-image: url(profile-big.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkorange;
    grid-area: a;
}

.name-block {
    width: 100%;
    height: 100%;
    padding: 65px 96px;
    box-sizing: border-box;
    grid-area: b;
}

.personal-info .job-position {
    display: block;
    font-family: Helvetica-Bold, Roboto, Tahoma;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.personal-info h1.name {
    font-family: Helvetica-Bold, Roboto, Tahoma;
    font-size: 40px;
    color: #FFFFFF;
}
.personal-description {
    grid-area: c;
    width: 544px;
    padding-left: 96px;
    font-family: Georgia;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
}

.portfolio-main {
    margin: 0px 248px;
}
.portfolio-section {
    margin-top: 106px;
}
.portfolio-section h1 {
    font-family: Helvetica-Bold, Roboto, Tahoma;
    font-size: 40px;
    color: #000000;
    margin-bottom: 38px;
}

.portfolio-section-expectations {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template: "a a b" "c d d";
}

.portfolio-section input[name="descRadio"],
.portfolio-section .slider-pagination.expectations {
    display: none;
}

.portfolio-section-expectations .describing-block {
    margin: 8px;
    padding: 24px;
    background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 216px;
    box-sizing: border-box;
    position: relative;
}

.portfolio-section-expectations .describing-block:hover {
    background-image: linear-gradient(-180deg, #c6ebeb 0%, #b3d8a4 100%);
    border-radius: 20px;
    transition: 1s;    
}

.portfolio-section-expectations .describing-block:not(hover) {
    background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
    transition: 1s;
}

.portfolio-section-expectations .describing-block h2 {
    font-family: Helvetica-Bold, Roboto, Tahoma;
    font-size: 24px;
    color: #000000;
}

.portfolio-section-expectations .describing-block p{
    margin: 0;
    font-family: Georgia;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
}

.portfolio-section-expectations .describing-block:nth-child(1) {
    grid-area: a;
    margin-left: 0;
}
.portfolio-section-expectations .describing-block:nth-child(2) {
    grid-area: b;
    margin-right: 0;
}
.portfolio-section-expectations .describing-block:nth-child(3) {
    grid-area: c;
    margin-left: 0;
}
.portfolio-section-expectations .describing-block:nth-child(4) {
    grid-area: d;
    margin-right: 0;
}

.work-in-portfolio {
    width: 100%;
    display: flex;
    margin-bottom: 136px;
}

.work-in-portfolio .work-slider-area {
    margin-right: 96px;
    width: 544px;
    height: 384px;
    box-sizing: border-box;
}
.work-in-portfolio .work-description {
    display: flex;
    width: 304px;
    flex-direction: column;
    justify-content: space-between;
}
.work-description .work-description-header h2 {
    font-family: Helvetica-Bold, Roboto, Arial;
    font-size: 24px;
    color: #000000;
    margin-bottom: 8px;
}

.work-description-header .work-website,
.social-links {
    font-family: Georgia;
    font-size: 16px;
    color: #DD3E18;
    line-height: 24px;
    text-decoration: none;
}

.work-description p {
    opacity: 0.8;
    font-family: Georgia;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
}

.site-footer {
    background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
    padding: 81px 248px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.site-footer h1 {
    width: 100%;
    font-family: Helvetica-Bold, Roboto, Arial;
    font-size: 40px;
    color: #000000;
    margin-bottom: 61px;
}

.contact-info-description p{
    width: 304px;
    font-family: Georgia;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    margin: 0;
}
.contact-info-description ul {
    margin-top: 8px;
    list-style: none;
    padding-left: 32px;
}
.contact-info-description .social {
    margin-bottom: 8px;
    position: relative;
}
.contact-info-description .social a:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -32px;
    opacity: 0.1;
    background: #000000;
    border-radius: 2px;
}

.contact-info-form {
    width: 544px;
    display: flex;
    flex-direction: column;
}
.contact-info-form input[type="text"],
.contact-info-form input[type="email"],
.contact-info-form textarea {
    width: 100%;
    margin-bottom: 24px;
    padding: 11px 16px;
    font-family: Georgia;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 4px;
    box-sizing: border-box;
}
.contact-info-form textarea {
    height: 192px;
    resize: none;
    margin-bottom: 16px;
}
.file-attachment {
    display: block;
    font-family: Helvetica-Bold, Roboto, Arial;
    font-size: 16px;
    font-weight: bold;
    color: #DD3E18;
    line-height: 24px;
    margin-bottom: 24px;
    cursor: pointer;
}
.file-attachment input[type="file"] {
    display: none;
}
.file-attachment i {
    margin-right: 11px;
}
.send-tz-button {
    width: 100%;
    background: #DD3E18;
    border-radius: 4px;
    border: none;
    font-family: Helvetica-Bold, Roboto, Arial;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
}
.fa {
    font-family: FontAwesome;
    font-style: normal;
}

/* SLIDER */
.work-slider-area {
    position: relative;
    border-radius: 4px;
}
.work-slides {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}
.work-slides div {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transform: scale(1.5);
}
.work-slides .slide-r {
    background: transparent;
}
.work-slides .slide-g {
    background: transparent;
}
.work-slides .slide-b {
    background: transparent;
}

.work-slider-area input {
    display: none;
}

#fSlider-1:checked ~ .work-slides > .slide-r,
#fSlider-2:checked ~ .work-slides > .slide-g,
#fSlider-3:checked ~ .work-slides > .slide-b{
    opacity: 1;
    z-index: 1;
    transform: scale(1);

    transition: 1.5s;
}

.slider-items label {
    display:block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin-bottom: 16px;
    border-radius: 50%;
    background-color: #000000;
}

#fSlider-1:checked ~ .slider-pagination ul .slider-items:nth-child(1) label,
#fSlider-2:checked ~ .slider-pagination ul .slider-items:nth-child(2) label,
#fSlider-3:checked ~ .slider-pagination ul .slider-items:nth-child(3) label {
    background-color: #DD3E18;
}



.slider-pagination {
    position: absolute;
    height: 100%;
    display: flex;
    align-content: center;
    z-index: 8;
    top: 0;
    right: -16px;
}
.slider-pagination ul {
    list-style: none;
    display: block;
    align-self: center;
    padding: 0;
}

@media screen and (max-width: 1439px) {
    .wrapper {
        width: 1024px;
    }

    .photo-frame.personal-photo {
        width: 424px;
        height: 768px;
    }

    header.personal-info {
        grid-template-columns: 424px 600px;
        height: 768px;
    }

    .personal-description {
        width: 464px;
    }

    .portfolio-main {
        margin: 0 40px;
    }

    .site-footer {
        padding: 81px 40px;
    }

}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
    header.personal-info {
        display: flex;
        flex-direction: column;
        height: initial;
    }
    .name-block {
        width: 100%;
        height: initial;
        padding: 97px 19.79% 39px;
        text-align: center;
    }
    .photo-frame.personal-photo {
        align-self: center;
        position: relative;
        background-image: url(profile-sm.png);
        width: 384px;
        height: 384px;
        border-radius: 50%;
    }

    .personal-description {
        width: 70.83%;
        padding: 0;
        margin: 75px auto 145px;
        text-align: center;
    }
    .portfolio-main {
        margin: 0 32px;
    }
    .work-in-portfolio {
        flex-direction: column;
    }
    .work-in-portfolio .work-slider-area {
        width: 100%;
        order: 2;
    }
    .work-in-portfolio .work-description {
        width: 100%;
        order: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .work-in-portfolio .work-description-header {
        width: 304px;
        margin-bottom: 32px;
    }
    .work-description p {
        margin: 0;
        width: 384px;
    }

    .work-in-portfolio .work-slider-area {
        margin-right: 0;
    }
    .slider-pagination {
        position: static;
        height: initial;
        width: 100%;
        justify-content: center;
    }
    .slider-pagination ul {
        display: flex;
        flex-direction: row;
    }
    .slider-pagination ul .slider-items {
        margin-right: 24px;
    }
    .slider-pagination ul .slider-items:last-child {
        margin-right: 0;
    }
    .work-slides div {
        background-repeat: no-repeat !important;
        background-size: 100% !important;
    }
    .contact-info-description {
        width: 100%;
        display: flex;
        margin-bottom: 56px;
    }
    .contact-info-description .social-header {
        display: none;
    }
    .contact-info-description p {
        width: 384px;
        margin-right: 96px;
    }
    .contact-info-form {
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .name-block {
        padding: 33px 15px 21px;
    }
    .personal-info .job-position {
        font-size: 16px;
    }
    .personal-info h1.name {
        font-size: 32px;
    }
    .photo-frame.personal-photo {
        width: 144px;
        height: 144px;
    }
    .personal-description {
        margin: 0;
        padding: 30px 4.46% 42px;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        box-sizing: border-box;
    }
    .portfolio-main {
        margin: 0 15px;
    }
    .portfolio-section h1 {
        font-size: 32px;
    }
    .portfolio-section {
        margin-top: 91px;
    }
    .portfolio-section-expectations {
        display: block;
        position: relative;
        min-height: 217px;
        overflow-x: hidden;
    }
    .portfolio-section-expectations .describing-block {
        margin: 0;
        position: absolute;
        z-index: 0;
    }

    .portfolio-section .slider-pagination.expectations {
        display: flex;
    }

    .portfolio-section-expectations article {
        opacity: 0;
        display: none;
        width: 100%;
    }

    .portfolio-section-expectations > #descBlock1,
    .portfolio-section-expectations > #descBlock2,
    .portfolio-section-expectations > #descBlock3,
    .portfolio-section-expectations > #descBlock4{
        left: 288px;
    }

    #descRadio-1:checked ~ .portfolio-section-expectations > #descBlock1,
    #descRadio-2:checked ~ .portfolio-section-expectations > #descBlock2,
    #descRadio-3:checked ~ .portfolio-section-expectations > #descBlock3,
    #descRadio-4:checked ~ .portfolio-section-expectations > #descBlock4 {
        display: block;
        z-index: 1;
        opacity: 1;
        transform: translateX(-288px);
        transition: 1.5s;

    }

    #descRadio-1:checked ~ .slider-pagination.expectations > ul > li:nth-child(1) label,
    #descRadio-2:checked ~ .slider-pagination.expectations > ul > li:nth-child(2) label,
    #descRadio-3:checked ~ .slider-pagination.expectations > ul > li:nth-child(3) label,
    #descRadio-4:checked ~ .slider-pagination.expectations > ul > li:nth-child(4) label {
        background-color: #DD3E18;
    }

    .work-in-portfolio .work-description {
        flex-direction: column;
        margin-bottom: 16px;
    }

    .work-in-portfolio .work-description-header {
        margin-bottom: 16px;
    }

    .work-in-portfolio .work-description-header h2 {
        font-size: 24px;
    }

    .work-description p {
        width: 100%;
    }

    .work-slider-area {
        max-height: 182px;
    }

    .work-slides {
        height: 182px;
    }

    .site-footer {
        padding: 43px 16px;
    }

    .site-footer h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .contact-info-description {
        flex-direction: column;
    }

    .contact-info-description p {
        order: 2;
        width: 100%;
    }

    .contact-info-description ul {
        order: 1;
    }
}